{{!< default}}

{{#get "posts" limit="all"}}
  {{#foreach posts}}
    <article>
      <h2><a href="{{url}}">{{title}}</a></h2>
      <p>{{excerpt}}</p>
      <p>Published on {{date format="MMMM DD, YYYY"}}</p>
    </article>
  {{/foreach}}
{{/get}}

{{pagination}}