{{!< default}}

<main class="content-area">
    <article class="post-full {{post_class}}">
        <header class="post-full-header">
            {{#if primary_tag}}
                <section class="post-full-tags">
                    <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                </section>
            {{/if}}
            <h1 class="post-full-title">{{title}}</h1>
            {{#if custom_excerpt}}
                <p class="post-full-custom-excerpt">{{custom_excerpt}}</p>
            {{/if}}
            <div class="post-full-byline">
                <section class="post-full-byline-content">
                    <ul class="author-list">
                        {{#foreach authors}}
                        <li class="author-list-item">
                            {{#if profile_image}}
                            <a href="{{url}}" class="author-avatar">
                                <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                            </a>
                            {{else}}
                            <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                            {{/if}}
                        </li>
                        {{/foreach}}
                    </ul>
                    <section class="post-full-byline-meta">
                        <h4 class="author-name">{{authors}}</h4>
                        <div class="byline-meta-content">
                            <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                            {{#if reading_time}}
                                <span class="byline-reading-time">{{reading_time}} min read</span>
                            {{/if}}
                        </div>
                    </section>
                </section>
            </div>
        </header>

        {{#if feature_image}}
        <figure class="post-full-image">
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 700px,
                        1400px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}

        <section class="post-full-content">
            <div class="post-content">
                {{content}}
            </div>
        </section>

        <footer class="post-full-footer">
            {{#primary_author}}
            <section class="author-card">
                {{#if profile_image}}
                <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                {{else}}
                <span class="author-profile-image">{{> "icons/avatar"}}</span>
                {{/if}}
                <section class="author-card-content">
                    <h4 class="author-card-name"><a href="{{url}}">{{name}}</a></h4>
                    {{#if bio}}
                    <p>{{bio}}</p>
                    {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                    {{/if}}
                </section>
            </section>
            {{/primary_author}}

            {{#if tags}}
            <section class="post-full-tags">
                <div class="post-full-meta-label">Tagged</div>
                {{tags separator=" "}}
            </section>
            {{/if}}
        </footer>

        {{#if comments}}
            <section class="article-comments">
                {{comments}}
            </section>
        {{/if}}
    </article>
</main>

{{#if @site.members_enabled}}
{{#unless @member}}
    <section class="footer-cta">
        <div class="inner">
            <h2 class="footer-cta-title">Sign up for more like this.</h2>
            <a class="footer-cta-button" href="#/portal" data-portal>
                <div class="footer-cta-input">Enter your email</div>
                <span>Subscribe</span>
            </a>
        </div>
    </section>
{{/unless}}
{{/if}}

{{#get "posts" filter="id:-{{id}}" limit="3" as |related_posts|}}
    {{#if related_posts}}
        <aside class="read-more-wrap">
            <div class="read-more inner">
                <h3>Read more</h3>
                {{#foreach related_posts}}
                    <article class="post-card {{post_class}}">
                        <a class="post-card-image-link" href="{{url}}">
                            {{#if feature_image}}
                                <img class="post-card-image" src="{{img_url feature_image size="m"}}" alt="{{title}}"/>
                            {{/if}}
                        </a>
                        <div class="post-card-content">
                            <a class="post-card-content-link" href="{{url}}">
                                <header class="post-card-header">
                                    <h2 class="post-card-title">{{title}}</h2>
                                </header>
                                <section class="post-card-excerpt">
                                    <p>{{excerpt words="33"}}</p>
                                </section>
                            </a>
                            <footer class="post-card-meta">
                                <time class="post-card-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                            </footer>
                        </div>
                    </article>
                {{/foreach}}
            </div>
        </aside>
    {{/if}}
{{/get}}