{{!< default}}

<article class="post {{post_class}}">
  <header class="post-header">
    <h1 class="post-title">{{title}}</h1>
    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date
        format="DD MMMM YYYY"
      }}</time>
  </header>
  <section class="post-content">
    {{content}}
  </section>
</article>